/*
 * Globals
 */



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: rgb(34, 37, 41);
  overflow: auto
}

.cover-container {
  max-width: 65%;
}

.link, .email {
  color: #fff;
  font-style: italic;
}

.update-date {
  font-size: small;
  color: rgb(218, 90, 71);
}
.beta, footer {
  font-size: smaller;
}

.ads, .free {
  font-size: small;
}


.nav-container {
  max-width: 50%;
}


.scrollable {
  overflow-y: auto;
  width: auto;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: rgb(218, 90, 71);
}
